In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/gdrive')
import os
os.chdir("/content/gdrive/My Drive/ML/Loan_Prediction_Classification")

In [0]:
train=pd.read_csv("train.csv")

In [0]:
x=train

In [5]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [7]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [0]:
#finding percentage of missing values
percent_missing = train.isnull().sum() * 100 / len(train)

In [9]:
percent_missing

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [0]:
#filling nan values with mode
for column in train.columns:
    train[column].fillna(train[column].mode()[0], inplace=True)

In [11]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [0]:
del train['Loan_ID']

In [13]:
train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [0]:
y = (train['Loan_Status'])

In [15]:
type(y)

pandas.core.series.Series

In [0]:
train= train.drop('Loan_Status', axis = 1)

In [17]:
train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [18]:
type(train)

pandas.core.frame.DataFrame

In [0]:
#x_train = np.array(train)

In [0]:
x_train=train

In [20]:
type(x_train)

pandas.core.frame.DataFrame

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(train,y,test_size=0.3,random_state=0)

In [23]:
x_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
351,Male,No,0,Graduate,No,8750,4167.0,308.0,360.0,1.0,Rural
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
320,Male,Yes,0,Graduate,No,2400,2167.0,115.0,360.0,1.0,Semiurban
186,Male,Yes,1,Graduate,Yes,2178,0.0,66.0,300.0,0.0,Rural
557,Male,Yes,3+,Graduate,Yes,10139,0.0,260.0,360.0,1.0,Semiurban

In [24]:
x_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
454,Male,No,0,Graduate,Yes,7085,0.0,84.0,360.0,1.0,Semiurban
52,Female,No,0,Graduate,No,4230,0.0,112.0,360.0,1.0,Semiurban
536,Male,Yes,0,Graduate,No,6133,3906.0,324.0,360.0,1.0,Urban
469,Male,Yes,0,Graduate,No,4333,2451.0,110.0,360.0,1.0,Urban
55,Male,Yes,2,Graduate,No,2708,1167.0,97.0,360.0,1.0,Semiurban

In [25]:
y_train

351    N
593    Y
320    Y
186    N
557    Y
344    Y
598    Y
392    Y
601    Y
517    N
140    N
555    Y
171    Y
576    N
113    Y
18     N
76     N
231    Y
400    N
369    N
213    Y
188    Y
610    Y
345    Y
395    Y
159    Y
333    Y
339    Y
346    N
590    Y
      ..
151    Y
244    Y
543    Y
544    Y
265    Y
288    Y
423    N
147    Y
177    N
99     Y
448    N
431    N
115    Y
72     Y
537    Y
174    N
87     Y
551    Y
486    N
314    N
396    N
600    N
472    Y
70     Y
599    Y
277    Y
9      N
359    Y
192    N
559    Y
Name: Loan_Status, Length: 429, dtype: object

In [0]:
####x_train=pd.get_dummies(x_train)
##x_test=pd.get_dummies(x_test)
##y_train=pd.get_dummies(y_train, prefix=['y_train'])
##y_test=pd.get_dummies(y_test)

In [26]:
x_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
351,Male,No,0,Graduate,No,8750,4167.0,308.0,360.0,1.0,Rural
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
320,Male,Yes,0,Graduate,No,2400,2167.0,115.0,360.0,1.0,Semiurban
186,Male,Yes,1,Graduate,Yes,2178,0.0,66.0,300.0,0.0,Rural
557,Male,Yes,3+,Graduate,Yes,10139,0.0,260.0,360.0,1.0,Semiurban
344,Male,Yes,2,Graduate,No,2583,2330.0,125.0,360.0,1.0,Rural
598,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural
392,Male,Yes,0,Graduate,No,2583,2115.0,120.0,360.0,1.0,Urban
601,Male,Yes,0,Not Graduate,No,2894,2792.0,155.0,360.0,1.0,Rural
517,Male,Yes,0,Not Graduate,No,3074,1800.0,123.0,360.0,0.0,Semiurban
140,Male,Yes,2,Graduate,No,5042,2083.0,185.0,360.0,1.0,Rural
555,Male,Yes,1,Graduate,No,5468,1032.0,26.0,360.0,1.0,Semiurban
171,Male,Yes,3+,Graduate,No,51763,0.0,700.0,300.0,1.0,Urban
576,Male,Yes,0,Graduate,No,3087,2210.0,136.0,360.0,0.0,Semiurban
113,Female,No,1,Graduate,Yes,7451,0.0,120.0,360.0,1.0,Semiurban
18,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural
76,Male,No,0,Graduate,No,3750,4750.0,176.0,360.0,1.0,Urban
231,Male,Yes,0,Graduate,No,3716,0.0,42.0,180.0,1.0,Rural
400,Male,Yes,2,Not Graduate,No,2889,0.0,45.0,180.0,0.0,Urban
369,Male,Yes,0,Graduate,No,19730,5266.0,570.0,360.0,1.0,Rural
213,Male,Yes,3+,Not Graduate,Yes,5703,0.0,130.0,360.0,1.0,Rural
188,Male,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
345,Male,Yes,0,Graduate,No,2499,2458.0,160.0,360.0,1.0,Semiurban
395,Male,Yes,2,Graduate,No,3276,484.0,135.0,360.0,1.0,Semiurban
159,Male,Yes,0,Graduate,No,4583,5625.0,255.0,360.0,1.0,Semiurban
333,Male,Yes,0,Graduate,No,63337,0.0,490.0,180.0,1.0,Urban
339,Female,No,0,Graduate,No,4160,0.0,71.0,360.0,1.0,Semiurban
346,Male,Yes,0,Not Graduate,No,3523,3230.0,152.0,360.0,0.0,Rural
590,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban
...,...,...,...,...,...,...,...,...,...,...,...
151,Male,Yes,0,Graduate,Yes,2577,3750.0,152.0,360.0,1.0,Rural
244,Male,Yes,0,Not Graduate,No,3406,4417.0,123.0,360.0,1.0,Semiurban
543,Male,Yes,1,Not Graduate,No,2239,2524.0,128.0,360.0,1.0,Urban
544,Female,Yes,0,Not Graduate,No,3017,663.0,102.0,360.0,1.0,Semiurban
265,Male,No,0,Graduate,No,4095,3447.0,151.0,360.0,1.0,Rural
288,Female,No,0,Graduate,No,4124,0.0,115.0,360.0,1.0,Semiurban
423,Male,Yes,1,Graduate,No,7250,1667.0,110.0,360.0,0.0,Urban
147,Male,Yes,1,Graduate,No,1538,1425.0,30.0,360.0,1.0,Urban
177,Male,Yes,3+,Graduate,No,5516,11300.0,495.0,360.0,0.0,Semiurban
99,Male,Yes,0,Graduate,No,1759,3541.0,131.0,360.0,1.0,Semiurban
448,Male,Yes,2,Graduate,No,3340,1710.0,150.0,360.0,0.0,Rural
431,Male,No,0,Graduate,No,6500,0.0,105.0,360.0,0.0,Rural
115,Male,Yes,1,Graduate,No,14583,0.0,185.0,180.0,1.0,Rural
72,Male,No,0,Graduate,No,3500,0.0,81.0,300.0,1.0,Semiurban
537,Male,No,2,Graduate,No,3617,0.0,107.0,360.0,1.0,Semiurban
174,Male,Yes,0,Not Graduate,Yes,4344,736.0,87.0,360.0,1.0,Semiurban
87,Male,Yes,0,Graduate,No,2500,2118.0,104.0,360.0,1.0,Semiurban
551,Male,Yes,1,Not Graduate,No,2492,2375.0,120.0,360.0,1.0,Rural
486,Male,No,2,Graduate,No,3547,0.0,80.0,360.0,0.0,Rural
314,Male,Yes,0,Graduate,No,2473,1843.0,159.0,360.0,1.0,Rural
396,Female,No,0,Graduate,No,3180,0.0,71.0,360.0,0.0,Urban
600,Female,No,3+,Graduate,No,416,41667.0,350.0,180.0,1.0,Urban
472,Male,Yes,3+,Graduate,No,4691,0.0,100.0,360.0,1.0,Semiurban
70,Male,Yes,0,Graduate,No,3208,3066.0,172.0,360.0,1.0,Urban
599,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban
277,Male,Yes,0,Graduate,No,3103,1300.0,80.0,360.0,1.0,Urban
9,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban
359,Male,Yes,3+,Graduate,No,5167,3167.0,200.0,360.0,1.0,Semiurban
192,Male,Yes,0,Not Graduate,No,6033,0.0,160.0,360.0,1.0,Urban
559,Female,Yes,0,Graduate,No,4180,2306.0,182.0,360.0,1.0,Semiurban

In [27]:
from sklearn import svm 
model = svm.SVC(kernel='linear',gamma=1)  
model.fit(x_train, y_train)

ValueError: ignored

In [28]:
y_train.head()

351    N
593    Y
320    Y
186    N
557    Y
Name: Loan_Status, dtype: object

In [0]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in x_test.columns.values:
  if x_test[col].dtypes=='object':
    data=x_train[col].append(x_test[col])
    le.fit(data.values)
    x_train[col]=le.transform(x_train[col])
    x_test[col]=le.transform(x_test[col])

In [31]:
x_test

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
454,1,0,0,0,1,7085,0.0,84.0,360.0,1.0,1
52,0,0,0,0,0,4230,0.0,112.0,360.0,1.0,1
536,1,1,0,0,0,6133,3906.0,324.0,360.0,1.0,2
469,1,1,0,0,0,4333,2451.0,110.0,360.0,1.0,2
55,1,1,2,0,0,2708,1167.0,97.0,360.0,1.0,1
62,1,1,0,1,1,2609,3449.0,165.0,180.0,0.0,0
539,1,1,3,0,0,6417,0.0,157.0,180.0,1.0,0
432,1,0,0,0,0,12876,0.0,405.0,360.0,1.0,1
367,1,0,0,0,0,5124,0.0,124.0,360.0,0.0,0
482,1,1,0,0,0,2083,3150.0,128.0,360.0,1.0,1
310,0,0,0,0,0,2917,0.0,84.0,360.0,1.0,1
498,1,1,1,0,1,2895,0.0,95.0,360.0,1.0,1
233,0,0,0,0,0,8333,0.0,280.0,360.0,1.0,1
361,1,1,2,0,0,5000,3667.0,236.0,360.0,1.0,1
424,1,1,0,0,0,14880,0.0,96.0,360.0,1.0,1
357,1,1,1,0,0,3875,0.0,67.0,360.0,1.0,2
449,1,0,1,1,1,2769,1542.0,190.0,360.0,1.0,1
386,1,0,0,1,0,2346,1600.0,132.0,360.0,1.0,1
473,0,0,0,0,1,2500,0.0,93.0,360.0,1.0,2
553,1,1,0,1,0,2454,2333.0,181.0,360.0,0.0,2
48,0,1,0,0,0,2645,3440.0,120.0,360.0,0.0,2
433,1,1,0,0,0,2425,2340.0,143.0,360.0,1.0,1
243,1,1,2,0,1,6250,1300.0,108.0,360.0,1.0,0
356,1,1,2,0,0,8333,3167.0,165.0,360.0,1.0,0
187,1,1,0,0,0,2383,2138.0,58.0,360.0,1.0,0
511,1,1,1,0,0,6065,2004.0,250.0,360.0,1.0,1
440,1,0,0,0,0,3660,5064.0,187.0,360.0,1.0,1
173,1,1,0,0,0,5708,5625.0,187.0,360.0,1.0,1
211,1,1,3,0,0,3430,1250.0,128.0,360.0,0.0,1
548,0,0,0,0,0,5000,0.0,103.0,360.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
272,1,0,0,0,0,2833,1857.0,126.0,360.0,1.0,0
474,1,0,2,0,0,5532,4648.0,162.0,360.0,1.0,0
382,0,0,0,0,0,6000,0.0,156.0,360.0,1.0,2
283,0,0,0,0,0,1811,1666.0,54.0,360.0,1.0,2
107,1,0,0,1,0,7333,0.0,120.0,360.0,1.0,0
205,0,0,0,1,0,4408,0.0,120.0,360.0,1.0,1
384,1,1,2,0,0,4566,0.0,100.0,360.0,1.0,2
0,1,0,0,0,0,5849,0.0,120.0,360.0,1.0,2
202,1,1,3,1,0,3992,0.0,120.0,180.0,1.0,2
71,1,1,2,1,1,1875,1875.0,97.0,360.0,1.0,1
170,1,1,0,1,0,1820,1769.0,95.0,360.0,1.0,0
102,1,1,0,0,0,13650,0.0,120.0,360.0,1.0,2
407,0,0,0,1,0,2213,0.0,66.0,360.0,1.0,0
108,1,1,2,0,0,3800,3600.0,216.0,360.0,0.0,2
573,1,1,2,1,0,6125,1625.0,187.0,480.0,1.0,1
613,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1
313,1,1,2,0,1,5746,0.0,144.0,84.0,1.0,0
509,0,0,1,0,0,13262,0.0,40.0,360.0,1.0,2
419,1,1,0,0,0,3246,1417.0,138.0,360.0,1.0,1
298,0,0,0,0,0,5000,2541.0,151.0,480.0,1.0,0
492,1,0,0,1,0,3691,0.0,110.0,360.0,1.0,0
480,0,0,0,1,0,4350,0.0,154.0,360.0,1.0,0
26,1,1,0,0,0,2799,2253.0,122.0,360.0,1.0,1
604,0,1,1,0,0,12000,0.0,496.0,360.0,1.0,1
332,1,0,0,0,0,2833,0.0,71.0,360.0,1.0,2
242,1,0,0,0,0,2965,5701.0,155.0,60.0,1.0,2
515,1,1,3,0,0,3466,3428.0,150.0,360.0,1.0,0
582,0,1,0,0,0,3166,0.0,36.0,360.0,1.0,1
225,1,1,0,0,0,3250,0.0,170.0,360.0,1.0,0
134,1,0,0,0,0,4895,0.0,102.0,360.0,1.0,1

In [32]:
from sklearn import svm 
model = svm.SVC(kernel='linear',gamma=1)  
model.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [0]:
y_pred=model.predict(x_test)

In [34]:
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred)

0.8054054054054054

In [0]:
y_train_pred=model.predict(x_train)

In [36]:
metrics.accuracy_score(y_train,y_train_pred)

0.7808857808857809

In [37]:
from sklearn import svm 
model = svm.SVC(kernel='linear',C=10,gamma=1)  
model.fit(x_train, y_train)
model.score(x_train,y_train)

0.7808857808857809

In [38]:
model.score(x_test,y_test)

0.8216216216216217

In [39]:
from sklearn import svm 
model = svm.SVC(kernel='linear',C=100,gamma=1)  
model.fit(x_train, y_train)
model.score(x_train,y_train)

0.7808857808857809

In [40]:
model.score(x_test,y_test)

0.8216216216216217

In [83]:
from sklearn import svm 
model = svm.SVC(kernel='linear',C=10,gamma=10)  
model.fit(x_train, y_train)
model.score(x_train,y_train)

0.7808857808857809

In [84]:
model.score(x_test,y_test)

0.8216216216216217

In [78]:
from sklearn import svm 
model = svm.SVC(kernel='rbf',C=1,gamma=10)  
model.fit(x_train, y_train)
model.score(x_train,y_train)

1.0

In [79]:
model.score(x_test,y_test)

0.7243243243243244

In [80]:
from sklearn import svm 
model = svm.SVC(kernel='rbf',C=1,gamma=1000)  
model.fit(x_train, y_train)
model.score(x_train,y_train)

1.0

In [81]:
model.score(x_test,y_test)

0.7243243243243244

In [82]:
from sklearn import svm 
model = svm.SVC(kernel='poly',degree=1,gamma=1000)  
model.fit(x_train, y_train)
model.score(x_train,y_train)

0.7668997668997669

In [85]:
model.score(x_test,y_test)

0.8216216216216217

In [0]:
model.score(x_test,y_test)

In [0]:
from sklearn import svm 
model = svm.SVC(kernel='poly',degree=3,gamma=1000)  
model.fit(x_train, y_train)
model.score(x_train,y_train)

In [0]:
model.score(x_test,y_test)

In [0]:
from sklearn import svm 
model = svm.SVC(kernel='poly',degree=2,gamma=1000)  
model.fit(x_train, y_train)
model.score(x_train,y_train)

In [73]:
from sklearn import svm 
model = svm.SVC(kernel='linear', C=1.0, gamma=1)
model.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [0]:
#minmax scaler
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)

In [75]:
model.fit(X_train_minmax,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [76]:
model.score(X_train_minmax,y_train)

0.8018648018648019

In [77]:
model.score(X_test_minmax,y_test)

0.827027027027027

In [41]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='linear',C=10,gamma=1)
model.fit(X_train_minmax,y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [42]:
model.score(X_train_minmax,y_train)

0.8018648018648019

In [43]:
model.score(X_test_minmax,y_test)

0.827027027027027

In [44]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='linear',C=100,gamma=1)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.8018648018648019

In [46]:
model.score(X_test_minmax,y_test)

0.827027027027027

In [47]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='rbf',C=1,gamma=10)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.8694638694638694

In [48]:
model.score(X_test_minmax,y_test)

0.7567567567567568

In [49]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='rbf',C=1,gamma=100)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.9137529137529138

In [50]:
model.score(X_test_minmax,y_test)

0.7027027027027027

In [53]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='rbf',C=1,gamma=1000)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.9627039627039627

In [54]:
model.score(X_test_minmax,y_test)

0.7135135135135136

In [61]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='rbf',C=10,gamma=1000)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.9953379953379954

In [62]:
model.score(X_test_minmax,y_test)

0.6972972972972973

In [51]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='poly',C=1,degree=1,gamma=100)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.8018648018648019

In [52]:
model.score(X_test_minmax,y_test)

0.827027027027027

In [63]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='poly',C=1,degree=1,gamma=100)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.8018648018648019

In [64]:
model.score(X_test_minmax,y_test)

0.827027027027027

In [65]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='poly',C=1,degree=2,gamma=100)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.8275058275058275

In [66]:
model.score(X_test_minmax,y_test)

0.772972972972973

In [67]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='poly',C=1,degree=3,gamma=100)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.8508158508158508

In [68]:
model.score(X_test_minmax,y_test)

0.6054054054054054

In [69]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='linear',C=10,gamma=10)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.8018648018648019

In [70]:
model.score(X_test_minmax,y_test)

0.827027027027027

In [71]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
model = svm.SVC(kernel='rbf',C=10,gamma=10)
model.fit(X_train_minmax,y_train)
model.score(X_train_minmax,y_train)

0.9114219114219114

In [72]:
model.score(X_test_minmax,y_test)

0.7621621621621621

In [0]:
from sklearn.model_selection import GridSearchCV
parameters={"kernel":('linear','rbf'),'c':[1,10],gamma=[0.001,0.01,0.1,1]}
clf=GridSearchCV(svc,parameters,cv=5)
clf.fit(X_train_minmax,y_train)