In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/gdrive')
import os
os.chdir("/content/gdrive/My Drive/ML/Loan_Prediction_Classification")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
train=pd.read_csv("train.csv")

In [0]:
x=train

In [0]:
x.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [0]:
train.head

<bound method NDFrame.head of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
6    LP001013    Male     Yes          0  Not Graduate            No
7    LP001014    Male     Yes         3+      Graduate            No
8    LP001018    Male     Yes          2      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
11   LP001027    Male     Yes          2      Graduate           NaN
12   LP001028    Male     Yes          2      Graduate            No
13   LP001029    Male      No          0      Graduate            No
14   LP001030    Male     Yes          2      Graduate            No
15   LP001032    Male      No          0      Graduate            No
16   LP001034    Male      No          1  Not Graduate            No
17   LP001036  Female      No          0      Graduate            No
18   LP001038    Male     Yes          0  Not Graduate            No
19   LP001041    Male     Yes          0      Graduate           NaN
20   LP001043    Male     Yes          0  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
22   LP001047    Male     Yes          0  Not Graduate            No
23   LP001050     NaN     Yes          2  Not Graduate            No
24   LP001052    Male     Yes          1      Graduate           NaN
25   LP001066    Male     Yes          0      Graduate           Yes
26   LP001068    Male     Yes          0      Graduate            No
27   LP001073    Male     Yes          2  Not Graduate            No
28   LP001086    Male      No          0  Not Graduate            No
29   LP001087  Female      No          2      Graduate           NaN
..        ...     ...     ...        ...           ...           ...
584  LP002911    Male     Yes          1      Graduate            No
585  LP002912    Male     Yes          1      Graduate            No
586  LP002916    Male     Yes          0      Graduate            No
587  LP002917  Female      No          0  Not Graduate            No
588  LP002925     NaN      No          0      Graduate            No
589  LP002926    Male     Yes          2      Graduate           Yes
590  LP002928    Male     Yes          0      Graduate            No
591  LP002931    Male     Yes          2      Graduate           Yes
592  LP002933     NaN      No         3+      Graduate           Yes
593  LP002936    Male     Yes          0      Graduate            No
594  LP002938    Male     Yes          0      Graduate           Yes
595  LP002940    Male      No          0  Not Graduate            No
596  LP002941    Male     Yes          2  Not Graduate           Yes
597  LP002943    Male      No        NaN      Graduate            No
598  LP002945    Male     Yes          0      Graduate           Yes
599  LP002948    Male     Yes          2      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
601  LP002950    Male     Yes          0  Not Graduate           NaN
602  LP002953    Male     Yes         3+      Graduate            No
603  LP002958    Male      No          0      Graduate            No
604  LP002959  Female     Yes          1      Graduate            No
605  LP002960    Male     Yes          0  Not Graduate            No
606  LP002961    Male     Yes          1      Graduate            No
607  LP002964    Male     Yes          2  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
6               2333             1516.0        95.0             360.0
7               3036             2504.0       158.0             360.0
8               4006             1526.0       168.0             360.0
9              12841            10968.0       349.0             360.0
10              3200              700.0        70.0             360.0
11              2500             1840.0       109.0             360.0
12              3073             8106.0       200.0             360.0
13              1853             2840.0       114.0             360.0
14              1299             1086.0        17.0             120.0
15              4950                0.0       125.0             360.0
16              3596                0.0       100.0             240.0
17              3510                0.0        76.0             360.0
18              4887                0.0       133.0             360.0
19              2600             3500.0       115.0               NaN
20              7660                0.0       104.0             360.0
21              5955             5625.0       315.0             360.0
22              2600             1911.0       116.0             360.0
23              3365             1917.0       112.0             360.0
24              3717             2925.0       151.0             360.0
25              9560                0.0       191.0             360.0
26              2799             2253.0       122.0             360.0
27              4226             1040.0       110.0             360.0
28              1442                0.0        35.0             360.0
29              3750             2083.0       120.0             360.0
..               ...                ...         ...               ...
584             2787             1917.0       146.0             360.0
585             4283             3000.0       172.0              84.0
586             2297             1522.0       104.0             360.0
587             2165                0.0        70.0             360.0
588             4750                0.0        94.0             360.0
589             2726                0.0       106.0             360.0
590             3000             3416.0        56.0             180.0
591             6000                0.0       205.0             240.0
592             9357                0.0       292.0             360.0
593             3859             3300.0       142.0             180.0
594            16120                0.0       260.0             360.0
595             3833                0.0       110.0             360.0
596             6383             1000.0       187.0             360.0
597             2987                0.0        88.0             360.0
598             9963                0.0       180.0             360.0
599             5780                0.0       192.0             360.0
600              416            41667.0       350.0             180.0
601             2894             2792.0       155.0             360.0
602             5703                0.0       128.0             360.0
603             3676             4301.0       172.0             360.0
604            12000                0.0       496.0             360.0
605             2400             3800.0         NaN             180.0
606             3400             2500.0       173.0             360.0
607             3987             1411.0       157.0             360.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
6               1.0         Urban           Y
7               0.0     Semiurban           N
8               1.0         Urban           Y
9               1.0     Semiurban           N
10              1.0         Urban           Y
11              1.0         Urban           Y
12              1.0         Urban           Y
13              1.0         Rural           N
14              1.0         Urban           Y
15              1.0         Urban           Y
16              NaN         Urban           Y
17              0.0         Urban           N
18              1.0         Rural           N
19              1.0         Urban           Y
20              0.0         Urban           N
21              1.0         Urban           Y
22              0.0     Semiurban           N
23              0.0         Rural           N
24              NaN     Semiurban           N
25              1.0     Semiurban           Y
26              1.0     Semiurban           Y
27              1.0         Urban           Y
28              1.0         Urban           N
29              1.0     Semiurban           Y
..              ...           ...         ...
584             0.0         Rural           N
585             1.0         Rural           N
586             1.0         Urban           Y
587             1.0     Semiurban           Y
588             1.0     Semiurban           Y
589             0.0     Semiurban           N
590             1.0     Semiurban           Y
591             1.0     Semiurban           N
592             1.0     Semiurban           Y
593             1.0         Rural           Y
594             1.0         Urban           Y
595             1.0         Rural           Y
596             1.0         Rural           N
597             0.0     Semiurban           N
598             1.0         Rural           Y
599             1.0         Urban           Y
600             NaN         Urban           N
601             1.0         Rural           Y
602             1.0         Urban           Y
603             1.0         Rural           Y
604             1.0     Semiurban           Y
605             1.0         Urban           N
606             1.0     Semiurban           Y
607             1.0         Rural           Y
608             1.0         Rural           Y
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [0]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [0]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [0]:
train.isnull().sum()

NameError: ignored

In [0]:
#train['Credit_History'].replace(0, np.nan, inplace= True)

In [0]:
train.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [0]:
#train[['Gender','Married','Dependents','Self_Employed','LoanAmount','Loan_Amount_Term','Credit_History']] = dataset[[1,2,3,4,5]].replace(0, numpy.NaN)

In [0]:
#finding percentage of missing values
percent_missing = train.isnull().sum() * 100 / len(train)

In [0]:
percent_missing

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        5.211726
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           3.583062
Loan_Amount_Term     2.280130
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [0]:
train.Gender.mode()[0]

'Male'

In [0]:
train.Dependents.mode()[0]

'0'

In [0]:
train.Self_Employed.mode()[0]

'No'

In [0]:
train.LoanAmount.mode()[0]

120.0

In [0]:
train.Loan_Amount_Term.mode()[0]

360.0

In [0]:
train.Credit_History.mode()[0]

1.0

In [0]:
#filling nan values with mode
for column in train.columns:
    train[column].fillna(train[column].mode()[0], inplace=True)

In [0]:
train.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,No,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,1.0,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,No,2600,3500.0,115.0,360.0,1.0,Urban,Y

In [0]:

del train['Loan_ID']

In [0]:
train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [0]:
pd.get_dummies(train, columns=["Gender",'Married','Dependents','Education','Self_Employed','Credit_History','Property_Area','Loan_Status']).head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,...,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Credit_History_0.0,Credit_History_1.0,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y
0,5849,0.0,120.0,360.0,0,1,1,0,1,0,...,0,1,0,0,1,0,0,1,0,1
1,4583,1508.0,128.0,360.0,0,1,0,1,0,1,...,0,1,0,0,1,1,0,0,1,0
2,3000,0.0,66.0,360.0,0,1,0,1,1,0,...,0,0,1,0,1,0,0,1,0,1
3,2583,2358.0,120.0,360.0,0,1,0,1,1,0,...,1,1,0,0,1,0,0,1,0,1
4,6000,0.0,141.0,360.0,0,1,1,0,1,0,...,0,1,0,0,1,0,0,1,0,1

In [0]:
y = np.array(train['Loan_Status'])

In [0]:
train= train.drop('Loan_Status', axis = 1)

In [0]:
train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [0]:
train.corr()#none of the corr is greater than 0.6 so we need not delete any

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
ApplicantIncome,1.000000,-0.116605,0.564698,-0.046531,-0.018615
CoapplicantIncome,-0.116605,1.000000,0.189723,-0.059383,0.011134
LoanAmount,0.564698,0.189723,1.000000,0.037152,-0.000250
Loan_Amount_Term,-0.046531,-0.059383,0.037152,1.000000,-0.004705
Credit_History,-0.018615,0.011134,-0.000250,-0.004705,1.000000

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_test,y_train,y_test=train_test_split(train,y,test_size=0.3,random_state=0)

In [0]:
x_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
351,Male,No,0,Graduate,No,8750,4167.0,308.0,360.0,1.0,Rural
593,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
320,Male,Yes,0,Graduate,No,2400,2167.0,115.0,360.0,1.0,Semiurban
186,Male,Yes,1,Graduate,Yes,2178,0.0,66.0,300.0,0.0,Rural
557,Male,Yes,3+,Graduate,Yes,10139,0.0,260.0,360.0,1.0,Semiurban

In [0]:
x_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
454,Male,No,0,Graduate,Yes,7085,0.0,84.0,360.0,1.0,Semiurban
52,Female,No,0,Graduate,No,4230,0.0,112.0,360.0,1.0,Semiurban
536,Male,Yes,0,Graduate,No,6133,3906.0,324.0,360.0,1.0,Urban
469,Male,Yes,0,Graduate,No,4333,2451.0,110.0,360.0,1.0,Urban
55,Male,Yes,2,Graduate,No,2708,1167.0,97.0,360.0,1.0,Semiurban

In [0]:
x_train=pd.get_dummies(x_train)

In [0]:
x_test=pd.get_dummies(x_test)

In [0]:
y_train=pd.get_dummies(y_train)

In [0]:
y_test=pd.get_dummies(y_test)

In [5]:
y_test

NameError: ignored

In [0]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(random_state=1)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(x_test,y_test)

0.7189189189189189

In [0]:
rf.score(x_train,y_train)

0.9743589743589743

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=50,min_samples_split=4)

In [0]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=4,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(x_test,y_test)

0.7945945945945946

In [0]:
rf.score(x_train,y_train)

0.972027972027972

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=75,min_samples_split=4)

In [0]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=4,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(x_train,y_train)

0.972027972027972

In [0]:
rf.score(x_test,y_test)

0.7945945945945946

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=75,min_samples_split=6)

In [0]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=6,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(x_train,y_train)

0.9277389277389277

In [0]:
rf.score(x_test,y_test)

0.8054054054054054

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=75,min_samples_split=10)

In [0]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(x_train,y_train)

0.8671328671328671

In [0]:
rf.score(x_test,y_test)

0.8108108108108109

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=75,min_samples_split=12)

In [0]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=12,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(x_train,y_train)

0.8554778554778555

In [0]:
rf.score(x_test,y_test)

0.8

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=75,min_samples_split=14)

In [0]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=14,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(x_train,y_train)

0.8578088578088578

In [0]:
rf.score(x_test,y_test)

0.827027027027027

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=75,min_samples_split=28)

In [0]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=28,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(x_train,y_train)

0.8181818181818182

In [0]:
rf.score(x_test,y_test)

0.827027027027027

In [0]:
#minmax scaler
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)

In [0]:
rf.fit(X_train_minmax,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=22,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(X_train_minmax,y_train)

0.8181818181818182

In [0]:
rf.score(X_test_minmax,y_test)

0.8216216216216217

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=75,min_samples_split=18)

In [0]:
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)

In [0]:
rf.fit(X_train_minmax,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=18,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(X_train_minmax,y_train)

0.8391608391608392

In [0]:
rf.score(X_test_minmax,y_test)

0.8108108108108109

In [0]:
rf=RandomForestClassifier(random_state=1,n_estimators=75,min_samples_split=14)
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler()
X_train_minmax=min_max.fit_transform(x_train)
X_test_minmax=min_max.fit_transform(x_test)
rf.fit(X_train_minmax,y_train)
rf.score(X_train_minmax,y_train)
rf.score(X_test_minmax,y_test)

0.8054054054054054

In [0]:
rf.fit(X_train_minmax,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=14,
            min_weight_fraction_leaf=0.0, n_estimators=75, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [0]:
rf.score(X_train_minmax,y_train)

0.8578088578088578

In [0]:
rf.score(X_test_minmax,y_test)

0.8054054054054054

In [0]:
rf.best_params_

AttributeError: ignored

In [0]:
def evaluate(rf, x_test, y_test):
   predictions = model.predict(x_test)
   errors = abs(predictions - y_test)
   mape = 100 * np.mean(errors / y_test)
   accuracy = 100 - mape
print('Model Performance')
print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
print('Accuracy = {:0.2f}%.'.format(accuracy))

Model Performance

NameError: ignored

In [0]:
predictions = rf.predict(x_test)
# Performance metrics
errors = abs(predictions - y_test)
print('Metrics for Random Forest Trained on Original Data')
print('Average absolute error:', round(np.mean(errors), 2), 'degrees.')

Metrics for Random Forest Trained on Original Data
Average absolute error: N    0.21
Y    0.26
dtype: float64 degrees.

In [0]:
mape = 100 * (errors / y_test)

In [0]:
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: N   -inf
Y   -inf
dtype: float64 %.